* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #333333;
  --yellow: #ffbd54;
  --desc: #949494;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/FuturaPT-Bold.woff2);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/FuturaPT-Light.woff2);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/FuturaPT-Medium.woff2);
}

body {
  font-family: "Roboto";
  font-weight: 700;
  background-color: #f9f8f8;
}

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER STYLE STARTED */
.header {
  margin: 0 auto;
}

.header__logo-img {
  position: absolute;
  margin-top: 28px;
  left: calc(50% - 705px);
}

.header__logo-img:hover {
  opacity: 80%;
}

.header__logo-img:active {
  opacity: 60%;
}

.header__top {
  background-color: #f9f8f8;
}

.header__top-wrapper {
  display: flex;
  padding: 12px 0;
}

.header__top-address {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  line-height: 17.95px;
  margin-left: 155px;
  margin-right: 106px;
}

.header__top-address::before {
  content: url(/img/header-img/home-icon.svg);
  margin-right: 9px;
}

.header__top-list {
  display: flex;
  align-items: center;
  margin-right: 98px;
}

.header__top-item {
  display: flex;
  align-items: center;
}

.header__top-item:nth-child(2):before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin-right: 9px;
}

.header__top-item:nth-child(3):before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin-right: 9px;
}

.header__top-number:nth-child(1) {
  display: flex;
  margin-right: 9px;
}

.header__top-item:nth-child(1)::before {
  display: flex;
  content: url(/img/header-img/phone-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.header__top-number {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 17.95px;
}

.header__top-number:hover {
  color: #ffbd54;
}

.header__top-number:active {
  opacity: 60%;
}

.header__top-date {
  display: flex;
}

.header__date-week {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 17.95px;
}

.header__date-week:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}

.header__date-week:nth-child(1)::before {
  content: url(/img/header-img/calendar-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.header__top-day {
  font-weight: 600;
  margin-right: 2px;
}

.header__bottom {
  background-color: #fff;
}

.header__bottom-wrapper {
  display: flex;
  padding: 17px 0;
  margin-left: 361px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-item {
  display: flex;
  margin-right: 55px;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  line-height: 20.51px;
  padding-bottom: -40px;
}

.header__nav-link:hover {
  border-bottom: 5px solid #f4ffad;
}

.header__nav-link:active {
  border-bottom: 5px solid #f4ffad;
  opacity: 60%;
}

.header__nav-item:nth-child(1)::before {
  content: url(/img/header-img/fish-icon.svg);
  margin-right: 12px;
}

.header__nav-item:nth-child(6) {
  margin-right: 175px;
}

.header__bottom-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  line-height: 20.51px;
}

.header__bottom-btn::before {
  content: url(/img/header-img/finger-icon.svg);
  margin-right: 5px;
}

/* HEADER STYLE FINISHED */

/*! MAIN STYLE STARTED */

/* * HERO STYLE STARTED */
.hero__section {
  padding: 153px 0 290px 0;
  background-image: url(/img/hero-img/pet-group.png),
    url(/img/hero-img/parrot-img.png);
  background-position: calc(50% - 500px) calc(50% - 150px),
    calc(50% + 650px) calc(50% + 130px);
  background-repeat: no-repeat;
}

.hero__section-wrapper {
  margin-left: 657px;
}

.hero__section-title {
  width: 100%;
  max-width: 608px;
  font-size: 70px;
  font-weight: 700;
  line-height: 64px;
  color: var(--black);
  margin-bottom: 29px;
}

.hero__title-blue {
  color: #78c0de;
}

.hero__section-desc {
  width: 100%;
  max-width: 495px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--desc);
  margin-bottom: 38px;
}

.hero__section-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.51px;
  color: #ffffff;
  background-color: var(--black);
  padding: 15.5px 47.5px;
  border-radius: 3px;
}

.hero__section-btn:hover {
  opacity: 80%;
}

.hero__section-btn:active {
  opacity: 60%;
}

/* * HERO STYLE FINISHED */

/* * QUOTE STYLE STARTED */
.quote__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 191px;
}

.quote__section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__section-wrapper::before {
  content: url(/img/quote-img/start-quote.svg);
  margin-top: -90px;
  margin-right: 30px;
}

.quote__section-wrapper::after {
  content: url(/img/quote-img/end-quote.svg);
  margin-left: 30px;
  margin-top: 50px;
}

.quote__section-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 753px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--desc);
}

.quote__section-desc::before {
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  margin-bottom: 43px;
}

.quote__section-desc::after {
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  margin-top: 35px;
  margin-bottom: 35px;
}

.quote__section-author {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--black);
}
/* * QUOTE STYLE FINISHED */

/* * SERVICE STYLE STARTED */
.service__section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 235px;
}

.service__section-title {
  font-size: 48px;
  line-height: 54px;
  color: var(--black);
  margin-bottom: 80px;
}

.service__section-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1330px;
  margin-bottom: 14px;
}

.service__section-box::before {
  content: url(/img/service-img/left-arrow.svg);
  margin-top: 6rem;
  margin-right: 30px;
  cursor: pointer;
}

.service__section-box::after {
  content: url(/img/service-img/right-arrow.svg);
  margin-top: 6rem;
  margin-left: 30px;
  cursor: pointer;
}

.service__section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 193px;
  height: 201px;
  background-color: #ffff;
  border-radius: 5px;
}

.service__section-card:hover {
  opacity: 80%;
}

.service__section-card:active {
  opacity: 60%;
}

.doctor img {
  margin-bottom: 21.55px;
}

.nurse img {
  margin-bottom: 22.25px;
}

.hospital img {
  margin-bottom: 21.86px;
}

.dog img {
  margin-bottom: 34.06px;
}

.microscop img {
  margin-bottom: 21px;
}

.health img {
  margin-bottom: 33.06px;
}

.service__card-profession {
  width: 100%;
  max-width: 126px;
  text-align: center;
}

.service__section-content {
  display: flex;
  width: 100%;
  max-width: 1205px;
  align-items: center;
  padding: 42px 35px;
  background-color: #fff;
}

.service__content-img {
  margin-right: 67px;
}

.service__text-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 18px;
}

.service__top-desc {
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 9px;
}

.service__bottom-desc {
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 34px;
}

.service__section-link {
  display: flex;
}

.service__section-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #ffff;
  padding: 15px 37px;
  border-radius: 3px;
}

.service__section-btn:hover {
  opacity: 80%;
}

.service__section-btn:active {
  opacity: 60%;
}

.service__btn-img {
  margin-right: 6.5px;
}

.service__section-btn:nth-child(1) {
  background-color: var(--yellow);
  margin-right: 21px;
}

.service__section-btn:nth-child(2) {
  background-color: var(--black);
}
/* * SERVICE STYLE FINISHED */

/* * SUBSCRIBE STYLE STARTED */
.subscribe__section {
  background-image: url(/img/subscribe-img/blue-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  margin-bottom: 216px;
}

.subscribe__section-wrapper {
  margin-left: 222px;
  position: relative;
}

.subscribe__section-title {
  font-size: 48px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 52px;
}

.subscribe__section-form {
  display: flex;
}

.subscribe__section-email {
  width: 335px;
  height: 50px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  padding: 0 22px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 21px;
}

.subscribe__section-email::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
}

.subscribe__section-btn {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  background-color: var(--black);
  border: none;
  padding: 15px 52px;
}

.subscribe__section-btn:hover {
  opacity: 80%;
}

.subscribe__section-btn:active {
  opacity: 60%;
}

.subscribe__section-img {
  position: absolute;
  margin-top: -20.3rem;
  left: calc(50% + 60px);
}
/* * SUBSCRIBE STYLE FINISHED */

/* * NEWS STYLE STARTED */
.news__section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 265px;
}

.news__section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 95px;
}

.news__section-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1298px;
}

.news__section-card {
  display: flex;
  flex-direction: column;
  width: 305px;
  background-color: #fff;
  border-radius: 5px;
}

.news__article-text {
  padding: 0 30px;
}

.news__article-img {
  margin-bottom: 21px;
}

.news__article-data {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--desc);
  text-align: end;
  margin-bottom: 2px;
}

.news__article-title {
  width: 100%;
  max-width: 182px;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  color: #000;
  margin-bottom: 10px;
}

.news__article-desc {
  width: 100%;
  max-width: 244px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 34px;
}

.news__article-btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
}

.news__big-card {
  background-color: #fff;
}

.news__btn-icon {
  margin-right: 5px;
  margin-bottom: 36px;
}

.news__big-card {
  display: flex;
  width: 640px;
  border-radius: 5px;
}

.news__big-content {
  padding: 41px 35px 0 31px;
}

.news__big-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.news__big-tags {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #3d9cea;
}

.news__big-data {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--desc);
  margin-bottom: 29px;
}

.news__big-title {
  width: 100%;
  max-width: 193px;
  font-size: 26px;
  font-weight: 700;
  line-height: 25px;
  color: #000;
  margin-bottom: 15px;
}

.news__big-desc {
  width: 100%;
  max-width: 260px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 33px;
}
/* * NEWS STYLE FINISHED */

/* * REGISTRATION STYLE STARTED */
.registration__section {
  margin-bottom: 247px;
}

.registration__section-wrapper {
  display: flex;
}

.reg-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.registration__section-content {
  width: 100%;
  max-width: 990px;
  background-color: var(--black);
  background-image: url(/img/regitration-img/feedback-bg.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 62px;
  padding-left: 166px;
}

.registration__section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #fff;
  margin-bottom: 14px;
}

.registration__section-desc {
  width: 100%;
  max-width: 334px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 29px;
}

.registration__section-form {
  display: flex;
  flex-direction: column;
}

.registration__section-form input {
  width: 375px;
  height: 50px;
  font-family: "Roboto";
  border: none;
  outline: none;
  margin-bottom: 14px;
  padding: 0 22px;
  color: var(--desc);
}

.registration__form-text {
  width: 375px;
  height: 165px;
  font-family: "Roboto";
  padding: 17px 22px;
  color: var(--desc);
  margin-bottom: 30px;
}

.registration__form-btn {
  width: 226px;
  height: 50px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  background-color: var(--yellow);
  border: 0;
}

.registration__form-btn:hover {
  opacity: 80%;
}

.registration__form-btn:active {
  opacity: 60%;
}
/* * REGISTRATION STYLE FINISHED */

/*! MAIN STYLE FINISHED */

/* ? FOOTER STYLE STARTED */
.footer {
  background-color: #f3f3f3;
  border-top: 1px solid #ebebeb;
  padding-top: 54px;
  padding-bottom: 69px;
}

.footer__section-content {
  display: flex;
  justify-content: space-between;
}

.footer__logo-img:hover {
  opacity: 80%;
}

.footer__logo-img:active {
  opacity: 80%;
}

.footer__section-item {
  display: flex;
  flex-direction: column;
}

.footer__section-item a {
  margin-bottom: 14px;
}

.footer__section-date {
  display: flex;
  flex-direction: column;
}

.footer__section-date {
  display: flex;
  flex-direction: column;
}

.footer__date-week {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 17.95px;
}

.footer__date-week:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__date-week:nth-child(1)::before {
  content: url(/img/header-img/calendar-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 7px;
  margin-left: -1.5rem;
}

.footer__section-address {
  width: 100%;
  max-width: 157px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  line-height: 17.95px;
}

.footer__section-address::before {
  content: url(/img/header-img/home-icon.svg);
  margin-right: 9px;
  margin-left: -1.5rem;
}

.footer__section-number {
  display: flex;
  flex-direction: column;
}

.footer__number-link:nth-child(1)::before {
  display: flex;
  content: url(/img/header-img/phone-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 7px;
  margin-left: -1.5rem;
}

.footer__number-link {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 17.95px;
}

.footer__section-link:hover {
  border-bottom: 5px solid #f4ffad;
}

.footer__section-link:active {
  border-bottom: 5px solid #f4ffad;
  opacity: 60%;
}

.footer__number-link:hover {
  color: #ffbd54;
}

.footer__section-number:active {
  opacity: 60%;
}
/* ? FOOTER STYLE FINISHED */ ;
