* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #333333;
  --yellow: #ffbd54;
  --desc: #949494;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/FuturaPT-Bold.woff2);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/FuturaPT-Light.woff2);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/FuturaPT-Medium.woff2);
}

body {
  font-family: "Roboto";
  font-weight: 700;
  background-color: #f9f8f8;
}

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER STYLE STARTED */
.header {
  margin: 0 auto;
}

.header__logo-img {
  position: absolute;
  margin-top: 21px;
  left: calc(50% - 705px);
}

.header__top {
  background-color: #f9f8f8;
}

.header__top-wrapper {
  display: flex;
  padding: 12px 0;
}

.header__top-address {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  line-height: 17.95px;
  margin-left: 258px;
  margin-right: 106px;
}

.header__top-address::before {
  content: url(/img/header-img/home-icon.svg);
  margin-right: 9px;
}

.header__top-list {
  display: flex;
  align-items: center;
  margin-right: 98px;
}

.header__top-item {
  display: flex;
  align-items: center;
}

.header__top-item:nth-child(2):before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin-right: 9px;
}

.header__top-item:nth-child(3):before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin-right: 9px;
}

.header__top-number:nth-child(1) {
  display: flex;
  margin-right: 9px;
}

.header__top-item:nth-child(1)::before {
  display: flex;
  content: url(/img/header-img/phone-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.header__top-number {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 17.95px;
}

.header__top-number:hover {
  color: #ffbd54;
}

.header__top-number:active {
  opacity: 60%;
}

.header__top-date {
  display: flex;
}

.header__date-week {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 17.95px;
}

.header__date-week:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}

.header__date-week:nth-child(1)::before {
  content: url(/img/header-img/calendar-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.header__top-day {
  font-weight: 600;
  margin-right: 2px;
}

.header__bottom {
  background-color: #fff;
}

.header__bottom-wrapper {
  display: flex;
  padding: 17px 0;
  margin-left: 391px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-item {
  margin-right: 55px;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  line-height: 20.51px;
}

.header__nav-item:nth-child(6) {
  margin-right: 175px;
}

.header__bottom-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  line-height: 20.51px;
}

.header__bottom-btn::before {
  content: url(/img/header-img/finger-icon.svg);
  margin-right: 5px;
}

/* HEADER STYLE FINISHED */

/*! MAIN STYLE STARTED */

/* * HERO STYLE STARTED */
.hero__section {
  padding: 153px 0 290px 0;
  background-image: url(/img/hero-img/pet-group.png),
    url(/img/hero-img/parrot-img.png);
  background-position: calc(50% - 500px) calc(50% - 150px),
    calc(50% + 650px) calc(50% + 130px);
  background-repeat: no-repeat;
}

.hero__section-wrapper {
  margin-left: 657px;
}

.hero__section-title {
  width: 100%;
  max-width: 608px;
  font-size: 70px;
  font-weight: 700;
  line-height: 64px;
  color: var(--black);
  margin-bottom: 29px;
}

.hero__title-blue {
  color: #78c0de;
}

.hero__section-desc {
  width: 100%;
  max-width: 495px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--desc);
  margin-bottom: 38px;
}

.hero__section-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.51px;
  color: #ffffff;
  background-color: var(--black);
  padding: 15.5px 47.5px;
  border-radius: 3px;
}

.hero__section-btn:hover {
  opacity: 80%;
}

.hero__section-btn:active {
  opacity: 60%;
}

/* * HERO STYLE FINISHED */

/* * QUOTE STYLE STARTED */
.quote__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 191px;
}

.quote__section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__section-wrapper::before {
  content: url(/img/quote-img/start-quote.svg);
  margin-top: -90px;
  margin-right: 30px;
}

.quote__section-wrapper::after {
  content: url(/img/quote-img/end-quote.svg);
  margin-left: 30px;
  margin-top: 50px;
}

.quote__section-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 753px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--desc);
}

.quote__section-desc::before {
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  margin-bottom: 43px;
}

.quote__section-desc::after {
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  margin-top: 35px;
  margin-bottom: 35px;
}

.quote__section-author {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--black);
}
/* * QUOTE STYLE FINISHED */

/* * SERVICE STYLE STARTED */
.service__section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service__section-title {
  font-size: 48px;
  line-height: 54px;
  color: var(--black);
  margin-bottom: 80px;
}

.service__section-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1330px;
  margin-bottom: 14px;
}

.service__section-box::before {
  content: url(/img/service-img/left-arrow.svg);
  margin-top: 6rem;
  margin-right: 30px;
  cursor: pointer;
}

.service__section-box::after {
  content: url(/img/service-img/right-arrow.svg);
  margin-top: 6rem;
  margin-left: 30px;
  cursor: pointer;
}

.service__section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 193px;
  height: 201px;
  background-color: #ffff;
  border-radius: 5px;
}

.service__section-card:hover {
  opacity: 80%;
}

.service__section-card:active {
  opacity: 60%;
}

.doctor img {
  margin-bottom: 21.55px;
}

.nurse img {
  margin-bottom: 22.25px;
}

.hospital img {
  margin-bottom: 21.86px;
}

.dog img {
  margin-bottom: 34.06px;
}

.microscop img {
  margin-bottom: 21px;
}

.health img {
  margin-bottom: 33.06px;
}

.service__card-profession {
  width: 100%;
  max-width: 126px;
  text-align: center;
}

.service__section-content {
  display: flex;
  width: 100%;
  max-width: 1205px;
  align-items: center;
  padding: 42px 35px;
  background-color: #fff;
}

.service__content-img {
  margin-right: 67px;
}

.service__text-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 18px;
}

.service__top-desc {
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 9px;
}

.service__bottom-desc {
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--desc);
  margin-bottom: 34px;
}

.service__section-link {
  display: flex;
}

.service__section-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #ffff;
  padding: 15px 37px;
  border-radius: 3px;
}

.service__section-btn:hover {
  opacity: 80%;
}

.service__section-btn:active {
  opacity: 60%;
}

.service__btn-img {
  margin-right: 6.5px;
}

.service__section-btn:nth-child(1) {
  background-color: var(--yellow);
  margin-right: 21px;
}

.service__section-btn:nth-child(2) {
  background-color: var(--black);
}
/* * SERVICE STYLE FINISHED */
/* * SUBSCRIBE STYLE STARTED */ /* * SUBSCRIBE STYLE FINISHED */
/* * NEWS STYLE STARTED */ /* * NEWS STYLE FINISHED */
/* * REGISTRATION STYLE STARTED */ /* * REGISTRATION STYLE FINISHED */
/*! MAIN STYLE FINISHED */ /* ? FOOTER STYLE STARTED */
/* ? FOOTER STYLE FINISHED */ ;
